* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 24px;
	width: 100%;
	overflow: hidden;
}

ul, ol, dl, p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

h1 {
	text-shadow: 1px 1px 0 black;
	color: rgba(255,255,255,1);
	font-size: 250%;
	line-height: 1em;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"]  {
	height: 34px;
	font-size: inherit;
	padding: 6px 12px;
}

button, input[type="submit"], input[type="button"] {
	background: #32acd1;
	border-radius: 6px;
	border: 1px solid transparent;
	font-size: inherit;
	font-weight: bold;
	cursor: pointer;
	padding: 12px 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

#canvas {
	padding: 16px;
	background: rgba(255,255,255,0.6);
	width: 100%;
	min-height: 100%;
	box-shadow: 0 10px 10px -10px black;
}

#wrapper {
	background: url(../img/bg-main.jpg) no-repeat;
	background-size: 100% 100%;
	min-height: 100%;
}

.hidden {
	display: none;
}

.pw-item {
	list-style: none;
	border-bottom: 1px solid #333;
	padding: 1em 0;
	position: relative;
}

.pw-item:after {
	content: "";
	display: block;
	border-bottom: 1px solid #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.pw-item:first-of-type {
	border-top: 1px solid #fff;
}
.pw-item:first-of-type:before {
	content: "";
	display: block;
	border-top: 1px solid #333;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}